<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<httpRuntime requestValidationMode="2.0" maxRequestLength="10485760" executionTimeout="3600" appRequestQueueLimit="10000"/>
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="index.aspx" />
			</files>
		</defaultDocument>
		<handlers>
			<add name="logoutHandler" verb="GET" path="/logout" type="WebApp.App_Code.Handler.LogoutHandler" />
			<add name="loginHandler" verb="POST" path="/login" type="WebApp.App_Code.Handler.LoginHandler" />
			<add name="uploadHandler" verb="POST" path="/uploader" type="WebApp.App_Code.Handler.UploadHandler" />
			<add name="categoryHandler" verb="*" path="/category/*" type="WebApp.App_Code.Handler.CategoryHandler" />
		</handlers>
		<modules>
			<add name="im" type="WebApp.App_Code.InterceptorModule,WebApp" />
		</modules>
	</system.webServer>
	<connectionStrings>
		<add name="DbEntities" connectionString="metadata=res://*/AdoModel.csdl|res://*/AdoModel.ssdl|res://*/AdoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=test;persist security info=True;user id=sa;password=sasa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>